[user]
	email = aisamji@users.noreply.github.com
	name = Ali Samji
[core]
	editor = nvim
	excludesFile = /home/alisamji/.gitignore
[pull]
	rebase = true
[init]
	defaultBranch = main
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git@github.com:"]
	insteadOf = gh:
[push]
	autoSetupRemote = true
