# Git Aliases
gresolve() {
  nvim -c "DiffviewOpen"
}

gwt() {
  # Figure out branch name
  if [ -n "$1" ]; then
    BRANCH="$1"
  else
    BRANCHES=$(git for-each-ref --format='%(refname:short)' --exclude=refs/heads/main refs/heads)
    if which fzf > /dev/null 2> /dev/null; then
      BRANCH=$(echo "$BRANCHES" | fzf)
    else
      echo "$BRANCHES"
    fi
  fi

  if [ -z "$BRANCH" ]; then
    echo 'Pass in a branch name and rerun the command.' > /dev/stderr
    return 1
  fi

  # If branch does not exist, create the branch based off of origin/main
  if ! (git branch | grep -q $BRANCH); then
    git fetch
    git branch $BRANCH origin/main
  fi

  # create a worktree for it (if it does not exist), and cd to it.
  if [ ! -d ".gitworktrees/$BRANCH" ]; then
    git worktree add ".gitworktrees/$BRANCH" "$BRANCH"
  fi

  WORKTREE=$(git worktree list | grep "$BRANCH" | awk '{print $1}')
  if [ -n "WORKTREE" ]; then
    cd "$WORKTREE"
  fi
}

# TODO: gpair/greview/gfix to create a `.pair`/`.pair`/`.fix` directory under root and check out specified branch
# TODO: gprune to run all of git prune operations (git worktree prune, git branch prune, etc.)


alias ls='ls --color=auto'
alias grep='grep --color=auto'

if which terraform > /dev/null 2> /dev/null; then
  alias tf=terraform
fi
if which kubectl > /dev/null 2> /dev/null; then
  alias k=kubectl
fi

# Dotfile Management
dotfiles() (
  cd {{ playbook_dir | dirname }}
  edit_dotfiles() {
    if [ -n "$EDITOR" ]; then
      $EDITOR .
    else
      vi .
    fi
  }

  git fetch || (echo "git fetch failed" >&2 && return 2)

  if ! (git diff --quiet origin/main main); then
    echo "Upstream changes detected. Attempting merge with rebase." >&2
    if ! (git merge --autostash --ff-only); then
      echo "git merge resulted in conflicts. Launching in editor." >&2
      edit_dotfiles
      if [ "$1" == "edit" ]; then
        return 0
      else
        return 2        
      fi
    fi
  fi

  case "$1" in
    edit)
      edit_dotfiles
      ;;
    check)
      git status
      ansible-playbook --check --diff playbooks/site.yml --inventory inventories/host.yml --limit {{ purpose }}
      ;;
    sync)
      git status
      ansible-playbook --diff playbooks/site.yml --inventory inventories/host.yml --limit {{ purpose }}
      ;;
    *)
      echo "Usage: dotfiles <subcommand>" >&2
      echo "Subcommands: edit, check, sync" >&2
      return 1
      ;;
  esac
)
