{% if ansible_facts['distribution'] == "MacOSX" %}
eval "$(/opt/homebrew/bin/brew shellenv)"
{% endif %}

if which fnm > /dev/null 2> /dev/null; then
  eval "$(fnm env)"
fi
export npm_config_prefix="$HOME/.local"

export PATH="$PATH:$HOME/bin:$HOME/.local/bin"
{% if ansible_facts['distribution'] == "MacOSX" %}
export PATH=$PATH:/opt/homebrew/opt/rustup/bin
{% endif %}
export PATH="$PATH:$HOME/.cargo/bin"
export PATH="${KREW_ROOT:-$HOME/.krew}/bin:$PATH"
{% if ansible_facts['distribution'] == "MacOSX" %}
export PATH=$PATH:/opt/homebrew/share/google-cloud-sdk/bin
{% endif %}

{% if ansible_facts['distribution'] == "MacOSX" %}
# Docker Desktop has a new location for the socket. This breaks tools that expect the default location.
export DOCKER_HOST=unix:///$HOME/.docker/run/docker.sock
{% endif %}

