# Git Aliases
gwt() {
  # Figure out branch name
  if [ -n "$1" ]; then
    BRANCH="$1"
  else
    BRANCHES=$(git for-each-ref --format='%(refname:short)' --exclude=refs/heads/main refs/heads)
    if which fzf > /dev/null 2> /dev/null; then
      BRANCH=$(echo "$BRANCHES" | fzf)
    else
      echo "$BRANCHES"
    fi
  fi

  if [ -z "$BRANCH" ]; then
    echo 'Pass in a branch name and rerun the command.' > /dev/stderr
    return 1
  fi

  # If branch does not exist, create the branch based off of origin/main
  if ! (git branch | grep -q $BRANCH); then
    git fetch
    git branch $BRANCH origin/main
  fi

  # create a worktree for it (if it does not exist), and cd to it.
  if [ ! -d ".gitworktrees/$BRANCH" ]; then
    git worktree add ".gitworktrees/$BRANCH" "$BRANCH"
  fi

  WORKTREE=$(git worktree list | grep "$BRANCH" | awk '{print $1}')
  if [ -n "WORKTREE" ]; then
    cd "$WORKTREE"
  fi
}

# TODO: gpair/greview/gfix to create a `.pair`/`.pair`/`.fix` directory under root and check out specified branch
# TODO: gprune to run all of git prune operations (git worktree prune, git branch prune, etc.)

alias please='sudo $(history -p !!)'

alias ls='ls --color=auto'
alias grep='grep --color=auto'

if which terraform > /dev/null 2> /dev/null; then
  alias tf=terraform
fi
if which kubectl > /dev/null 2> /dev/null; then
  alias k=kubectl
fi

# Dotfile Management
dotfiles() {
  DOTFILE_ROOT={{ ansible_facts['env'].PWD | dirname }}

  case "$1" in
    status)
      git -C $DOTFILE_ROOT fetch
      git -C $DOTFILE_ROOT status
      ;;
    edit)
      if [ -n "$EDITOR" ]; then
        $EDITOR $DOTFILE_ROOT
      else
        vi $DOTFILE_ROOT
      fi
      ;;
    diff)
      ansible-playbook --check --diff "$DOTFILE_ROOT/{{ playbook }}"
      ;;
    apply)
      ansible-playbook "$DOTFILE_ROOT/{{ playbook }}"
      ;;
    *)
      echo "Usage: dot <subcommand>" >&2
      echo "Subcommands: status, edit, diff, apply" >&2
      return 1
      ;;
  esac
}
